body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/escritorio.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
}
